services:
  redis:
    image: redis:7.2-alpine
    container_name: chill-redis
    restart: always
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  redis-data:
