services:
  config-server:
    build:
      context: .
      dockerfile: config-server/Dockerfile
    env_file:
      - .env
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:${CONFIG_PORT}/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 10

  schema-server:
    build:
      context: .
      dockerfile: schema-server/Dockerfile
    env_file:
      - .env
    depends_on:
      config-server:
        condition: service_healthy
    restart: "no"

