services:
  config-server:
    image: ${DOCKERHUB_USERNAME}/config-server:latest
    env_file:
      - .env
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl -fsS http://127.0.0.1:${CONFIG_PORT}/actuator/health | grep -q '\"status\":\"UP\"'"
        ]
      interval: 10s
      timeout: 3s
      retries: 10

  schema-server:
    image: ${DOCKERHUB_USERNAME}/schema-server:latest
    env_file:
      - .env
    depends_on:
      config-server:
        condition: service_healthy
    restart: "no"

