
spring:
  application:
    name: eureka-server

server:
  port: 19090

eureka:
  instance:
    hostname: localhost
  service-url:
    defaultZone: http://localhost:19090/eureka/   # Eureka 서버 URL로 배포 시 ip로 변경
  client:
    register-with-eureka: false
    fetch-registry: false
  server:
    enable-self-preservation: false


