server:
  port: ${CONFIG_PORT}

spring:
  application:
    name: config-server

  cloud:
    config:
      server:
        git:
          uri: ${CONFIG_GIT_URI}
          username: ${CONFIG_GIT_USERNAME}
          password: ${CONFIG_GIT_PASSWORD}
          search-paths: '{application}'
          default-label: ${CONFIG_GIT_BRANCH:master}

management:
  endpoints:
    web:
      exposure:
        include: health,info
